@import url("general-sans.css");
@import url("Optiker-K.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body {
  background: #171f4a;
  width: 100%;
}
.container {
  max-width: 1313px;
}

/* Styling navbar  */
.navbar {
  background: #171f4a;
  margin-top: 35px;
  padding: 0;
}

.navbar-nav {
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-right: 60px;
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}

.navbar-nav .nav-item .nav-link {
  color: #dfe8f8;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #dfe8f8;
}

.navbar-nav .btn-explore {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  box-sizing: border-box;
  padding: 8px 60px;
  text-decoration: none;
  color: #dfe8f8;
  pointer-events: none;
}

/* Styling heading  */
.home-heading {
  /* margin-top: 83px; */
  padding: 70px 0px;
  justify-content: center;
}
.home-heading-title {
  padding: 10px;
}
.home-heading h1 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 91px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  margin-bottom: 20px;
  text-align: left;
}
.home-heading h1::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 19px;
  width: 275px;
  margin-left: auto;
  margin-right: 87px;
  margin-bottom: -46px;
  display: block;
  transform: translateY(125px);
}
.home-heading p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  margin-bottom: 40px;
}

.home-heading .btn-explore {
  background: #3484cc;
  border-radius: 100px;
  pointer-events: none;
  padding: 10px 70px;
  border: none;
  color: #fff;
  margin-bottom: 192px;
}

.home-heading .home-heading-image {
  width: 100%;
}

/* Styling home services  */
.home-services {
  background: #202957;
  /* padding-top: 75px;
  padding-bottom: 75px; */
  padding: 70px 0px;
  justify-content: center;
  /* margin-top: 80px; */
}

.home-services .home-services-text h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-top: 20px;
}

.home-services .home-services-text h2::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 15px;
  width: 180px;
  margin-left: auto;
  margin-right: 1006px;
  margin-bottom: -42px;
  display: block;
  transform: translateY(10px);
}

.home-services .home-services-text p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  text-align: left;
  padding-bottom: 50px;
}
.home-services .card {
  background: transparent;
  border: none;
  width: 296px;
  height: 251px;
}

.home-services .card-title {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}
.home-services .card-body .card-link {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: rgba(223, 232, 248, 0.8);
  margin-bottom: 53px 0px;
}

.home-services .card-body .card-btn {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-bottom: 3px;
  border-bottom: 1px solid #dfe8f8;
  padding-top: 50px;
  width: 33%;
}
.home-services .card-body img {
  background: #4e8cc4;
  border-radius: 4px;
  width: 56px;
  height: 56px;
  padding: 13px;
  margin-right: 25px;
}

/* Styling section latest projects  */
.home-projects {
  padding: 60px 0px;
}
.home-projects-text h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-bottom: 10px;
}

.home-projects-text h2::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 15px;
  width: 190px;
  margin-left: auto;
  margin-right: 952px;
  margin-bottom: -36px;
  display: block;
  transform: translateY(17px);
}

.home-projects-text p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: rgba(223, 232, 248, 0.8);
  text-align: left;
}
.project-images {
  position: relative;
  padding-top: 50px;
}

.home-projects .project-images img {
  max-width: 100%;
  border-radius: 16px;
}
.project-images .content {
  position: absolute;
  bottom: 0px;
  right: 15px;
  top: 287px;
  left: 15px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.592) 45.2%,
    rgba(0, 0, 0, 0) 91.35%
  );
  border-radius: 0px 0px 16px 16px;
  color: white;
  padding-left: 57px;
  padding-right: 93px;
}
.project-images .content img {
  width: 94px;
  height: 94px;
  position: absolute;
  top: -73px;
  right: 107px;
}

/* Styling testimonials  */
.home-testimonials {
  background: #202957;
  border-radius: 16px;
  padding: 60px;
  width: 1280px;
}

.home-testimonials h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  margin-bottom: 50px;
}

.home-testimonials h2::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 15px;
  width: 226px;
  margin-left: auto;
  margin-right: 803px;
  margin-bottom: -36px;
  display: block;
  transform: translateY(15px);
}

.home-testimonials p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #dfe8f8;
  /* padding: 10px 15px; */
}

.home-testimonials img {
  border-radius: 1000px;
  margin-top: 45px;
}

.home-testimonials h4 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 17px;
}

.home-testimonials h6 {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 17px;
}

/* Styling home teamwork  */
.home-teamwork {
  padding: 70px 0px;
}
.home-teamwork img {
  width: 100%;
}

.home-teamwork h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-top: 30px;
}

.home-teamwork h2::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 14px;
  width: 190px;
  margin-left: auto;
  margin-right: 225px;
  margin-bottom: -40px;
  display: block;
  transform: translateY(12px);
}

.home-teamwork p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #dfe8f8;
  margin-top: 20px;
  padding-right: 100px;
}
.home-teamwork .box .list-group {
  width: 539px;
  height: 368px;
  padding-top: 60px;
  margin-bottom: 50px;
}
.home-teamwork .dropdown .btn-lg {
  /* padding: 0.5rem 12rem; */
  background: #171f4a;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #dfe8f8;
  outline: none;
}
.home-teamwork .dropdown .btn-lg:focus {
  outline: none;
}
.home-teamwork .dropdown a span {
  padding-left: 0px;
  padding-right: 180px;
}

.dropdown a {
  background: transparent;
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-left: 0;
}
.home-teamwork .box .list-group .list-group-item {
  background: transparent;
  /* padding-left: 0;
  padding-right: 30px; */
  width: 539px;
  height: 92px;
  border: 0;
}
.dropdown-menu {
  padding: 5px 30px;
  background: #4e8cc4;
  color: #dfe8f8;
}
.dropdown-menu a {
  font-size: 20px;
}
.home-teamwork .btn-explore1 {
  background: #3484cc;
  border-radius: 100px;
  pointer-events: none;
  padding: 10px 70px;
  border: none;
  color: #fff;
}

/* Styling companies section  */
.home-companies {
  padding-top: 118px;
}
.home-companies .home-companies-title h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
  padding-left: 50px;
  padding-bottom: 40px;
}
.home-companies .home-companies-title h2::before {
  content: "";
  background: rgba(52, 132, 204, 0.8);
  height: 13px;
  width: 250px;
  margin-left: auto;
  margin-right: 217px;
  margin-bottom: -36px;
  display: block;
  transform: translateY(18px);
}
.home-companies .home-companies-box {
  width: 1280px;
  height: 161px;
  background: #202957;
  border-radius: 16px;
}
.home-companies-list {
  padding: 70px 40px;
  align-items: center;
}
.home-companies-list-item {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  padding-right: 90px;
}

/* Styling  blogs   */
.home-blog {
  padding: 75px 0px;
}
.home-blog .home-blog-title {
  display: flex;
  justify-content: space-between;
}
.home-blog .home-blog-title h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}

.home-blog .home-blog-title .btn-explore {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 10px 60px;
  text-decoration: none;
  color: #dfe8f8;
  pointer-events: none;
  justify-content: right;
}

.home-blog-cards {
  padding-top: 35px;
}
.home-blog-cards .card {
  width: 296px;
  height: 406px;
  background: #202957;
  border: 0;
}

.home-blog-cards .card .card-body {
  padding: 17px 20px;
}
.home-blog-cards .card img {
  border-radius: 8px 8px 0px 0px;
  width: 296px;
  height: 201px;
}

.home-blog-cards .card .card-body .card-title {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}

.home-blog-cards .card .card-body .card-link {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}
.home-blog-cards .card .card-body .card-text {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.home-blog-cards .card .card-body .btn {
  background-color: transparent;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #dfe8f8;
  text-transform: uppercase;
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #dfe8f8;
}

/* Styling work section  */
.home-work {
  padding-top: 75px;
  padding-bottom: 105px;
  background-color: #202957;
}
.home-work-title h2 {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 91px;
  line-height: 84px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}
.home-work-btn {
  text-align: center;
  padding: 45px;
}
.home-work-btn .btn-explore1 {
  background: #3484cc;
  border-radius: 100px;
  pointer-events: none;
  padding: 20px 60px;
  border: none;
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #dfe8f8;
}

/* Styling footer  */

/* Styling footer  */
.footer {
  padding-top: 50px;
  padding-bottom: 70px;
}
.footer .subtitle {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  padding: 25px 0px;
}
/* .footer .subscribe-input input {
  padding-left: 0;
} */
.footer .subscribe-input input#subscribe-email {
  width: 328px;
  outline: none;
  height: 60px;
  border-radius: 5px;
  background: transparent;
  padding-left: 20px;
  font-size: 20px;
}

.footer button#subscribe-btn {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  top: 121px;
  height: 54px;
  cursor: pointer;
  color: white;
  background-color: #3484cc;
  transform: translateX(-301px);
}

.footer .socials p {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 60px;
}

.footer .socials a {
  padding-top: 10px;
  padding-right: 25px;
  margin-top: 10px;
}

.footer .copyright p {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 140px;
}

.soc-con {
  display: flex;
  align-items: flex-end;
}
.footer h5 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0.5);
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  text-align: left;
  text-decoration: none;
}
.poweredBy {
  padding-top: 40px;
}

.footer h6 {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.31);
}

.footer p {
  /* font-family: "General Sans"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
}

/* ///////////////////////////////////// */
/* RESPONSIVE  */
/* //////////////////////////////////// */
@media (max-width: 1200px) {
  .container {
    max-width: 1073px;
  }
  .navbar-brand {
    padding-left: 35px;
  }
  .home-heading .home-heading-image img {
    width: 100%;
  }
  .home-heading h1::before {
    margin-right: 167px;
    transform: translateY(204px);
  }
  .home-services .home-services-text h2::before {
    height: 16px;
    width: 180px;
    margin-left: 97px;
    margin-right: auto;
    margin-bottom: -42px;
    transform: translateY(11px);
  }
  .home-projects-text h2::before {
    margin-left: 140px;
    margin-right: auto;
    margin-bottom: -36px;
    transform: translateY(17px);
  }
  .project-images .content {
    top: 205px;
  }
  .home-testimonials h2::before {
    height: 16px;
    width: 226px;
    margin-left: 132px;
    margin-right: auto;
    transform: translateY(18px);
  }
  .home-teamwork img {
    width: 100%;
  }
  .home-teamwork .box .list-group {
    height: 280px;
    padding-top: 12px;
    margin-bottom: 18px;
  }
  .home-teamwork .box .list-group .list-group-item {
    height: 55px;
    border: 0;
  }
  .dropdown-menu {
    padding: 0px 70px;
    background: #4e8cc4;
    color: #dfe8f8;
  }
  .home-teamwork h2::before {
    content: "";
    background: rgba(52, 132, 204, 0.8);
    height: 14px;
    width: 190px;
    margin-left: auto;
    margin-right: 106px;
    margin-bottom: -40px;
    display: block;
    transform: translateY(12px);
  }
  .home-companies .home-companies-title h2 {
    text-align: center;
  }
  .home-companies .home-companies-title h2::before {
    height: 15px;
    width: 255px;
    margin-right: 367px;
    margin-bottom: -36px;
    transform: translateY(66px);
  }
  .home-companies-list-item {
    padding-right: 55px;
  }
  .home-blog-cards .card {
    width: 16rem;
  }
  .home-blog-cards .card img {
    width: 100%;
  }
  .footer button#subscribe-btn {
    transform: translateX(-180px);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 865px;
  }
  .home-heading .home-heading-image img {
    width: 100%;
  }
  .home-heading h1 {
    font-size: 65px;
    line-height: 74px;
  }
  .home-heading h1::after {
    content: "";
    background: rgba(52, 132, 204, 0.8);
    height: 17px;
    width: 200px;
    margin-left: auto;
    margin-right: 13px;
    margin-bottom: -46px;
    display: block;
    transform: translateY(-22px);
  }
  .home-heading h1::before {
    display: none;
  }
  .home-heading p {
    font-size: 20px;
    padding-top: 27px;
  }
  .home-heading p br {
    display: none;
  }
  .home-services {
    padding: 70px 100px;
  }
  .home-services .card {
    margin-bottom: 50px;
    margin-left: -30px;
  }
  .project-images .content {
    top: 120px;
  }
  .home-teamwork h2 {
    font-size: 45px;
    line-height: 40px;
    padding-top: 15px;
  }
  .home-teamwork h2::before {
    height: 14px;
    width: 160px;
    margin-right: 66px;
    transform: translateY(3px);
  }
  .home-teamwork p {
    font-size: 18px;
    line-height: 28px;
    padding-right: 0px;
    margin-bottom: -13px;
  }
  .home-teamwork .dropdown a span {
    padding-left: 0px;
    padding-right: 220px;
  }
  .dropdown a {
    font-size: 20px;
  }
  .home-teamwork .box .list-group {
    height: 280px;
    padding-top: 12px;
    margin-bottom: -9px;
  }
  .home-teamwork .box .list-group .list-group-item {
    height: 55px;
    border: 0;
  }
  .home-companies .home-companies-title h2::before {
    margin-right: 265px;
  }
  .home-companies-list {
    padding: 70px 42px;
    align-items: center;
  }
  .home-companies-list-item {
    padding-right: 27px;
  }
  .home-blog {
    padding-left: 80px;
  }
  .home-blog .home-blog-title {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 138px;
  }
  .home-blog .home-blog-title .btn-explore {
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 14px;
  }

  .home-blog-cards .card {
    width: 18rem;
  }
  .footer .socials a {
    padding-right: 4px;
  }
  .footer .subscribe-input input#subscribe-email {
    width: 282px;
    outline: none;
    height: 46px;
    border-radius: 5px;
    background: transparent;
    padding-left: 4px;
    font-size: 20px;
  }
  .footer button#subscribe-btn {
    right: -57px;
    top: 121px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 641px;
  }
  .home-heading h1 {
    font-size: 53px;
    text-align: center;
    line-height: 50px;
  }
  .home-heading h1::after {
    content: "";
    background: rgba(52, 132, 204, 0.8);
    height: 15px;
    width: 160px;
    margin-left: auto;
    margin-right: 230px;
    margin-bottom: -46px;
    display: block;
    transform: translateY(-13px);
  }
  .home-heading p {
    font-size: 20px;
    padding-top: 56px;
    padding-bottom: 36px;
  }
  .home-heading .btn-explore {
    margin-left: 214px;
  }
  .home-heading .home-heading-image img {
    width: 100%;
    padding-top: 20px;
  }
  .home-services {
    padding: 70px 208px;
  }
  .home-projects-text p,
  h2 {
    text-align: left0;
    padding-top: 20px;
  }
  .home-projects-text h2::before {
    margin-left: 283px;
    margin-right: auto;
    margin-bottom: -36px;
    transform: translateY(16px);
  }
  .home-services .home-services-text p br {
    display: none;
  }
  .home-services .home-services-text p {
    padding-top: 15px;
  }
  .home-projects-text h2::before {
    margin-left: 141px;
    margin-right: auto;
    margin-bottom: -36px;
    transform: translateY(17px);
  }
  .home-projects .project-images img {
    max-width: 100%;
    border-radius: 16px;
    padding-bottom: 30px;
  }
  .project-images .content {
    position: absolute;
    bottom: 30px;
    right: 14px;
    top: 295px;
    left: 14px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.592) 45.2%,
      rgba(0, 0, 0, 0) 91.35%
    );
    border-radius: 0px 0px 16px 16px;
    color: white;
    padding-left: 57px;
    padding-right: 93px;
  }
  .project-images .content img {
    width: 81px;
    height: 103px;
    position: absolute;
    top: -49px;
    right: 128px;
  }

  .home-testimonials h2::before {
    margin-left: 140px;
  }
  .home-testimonials p,
  h4,
  h6 {
    text-align: left;
  }
  .home-testimonials img {
    margin-left: 190px;
    border-radius: 1000px;
    margin-top: 5px;
  }
  .home-testimonials h6 {
    margin-bottom: 30px;
  }
  .home-teamwork img {
    width: 100%;
    padding-bottom: 35px;
  }

  .home-teamwork h2 {
    font-weight: 400;
    font-size: 54px;
    line-height: 50px;
    letter-spacing: -0.03em;
    padding-top: 30px;
  }

  .home-teamwork h2::before {
    content: "";
    background: rgba(52, 132, 204, 0.8);
    height: 14px;
    width: 190px;
    margin-left: auto;
    margin-right: 209px;
    margin-bottom: -40px;
    display: block;
    transform: translateY(12px);
  }

  .home-teamwork p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #dfe8f8;
    margin-top: 40px;
    padding-right: 80px;
    padding-left: 0px;
    text-align: left;
  }
  .home-teamwork .box .list-group {
    width: 539px;
    height: 368px;
    padding-top: 60px;
    margin-bottom: 50px;
  }
  .home-teamwork .dropdown .btn-lg {
    /* padding: 0.5rem 12rem; */
    background: #171f4a;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dfe8f8;
    outline: none;
  }
  .home-teamwork .dropdown .btn-lg:focus {
    outline: none;
  }
  .home-teamwork .dropdown a span {
    padding-left: 0px;
    padding-right: 180px;
  }

  .dropdown a {
    background: transparent;
    /* font-family: "General Sans"; */
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #dfe8f8;
    padding-left: 0;
  }
  .home-teamwork .box {
    padding-left: 50px;
  }
  .home-teamwork .box .list-group .list-group-item {
    background: transparent;
    width: 539px;
    height: 92px;
    border: 0;
  }

  .dropdown-menu {
    padding: 5px 30px;
    background: #4e8cc4;
    color: #dfe8f8;
  }
  .dropdown-menu a {
    font-size: 20px;
  }
  .home-teamwork .btn-explore1 {
    background: #3484cc;
    border-radius: 100px;
    pointer-events: none;
    padding: 10px 70px;
    border: none;
    color: #fff;
    margin-left: 164px;
  }
  .home-companies {
    padding-top: 50px;
  }
  .home-companies-title {
    padding-left: 0px;
    line-height: 60px;
  }
  .home-companies .home-companies-title h2::before {
    height: 15px;
    width: 255px;
    margin-right: 37px;
    margin-bottom: -36px;
    transform: translateY(67px);
  }
  .home-companies-list {
    padding: 70px 0px;
    align-items: center;
  }
  .home-companies-list-item {
    padding-right: 7px;
  }
  .home-blog .home-blog-title {
    display: block;
    padding-left: 154px;
    padding-right: 259px;
    padding-top: -26px;
  }
  .home-blog .home-blog-title h2 {
    padding-bottom: 45px;
    padding-right: 30px;
    text-align: center;
  }
  .home-blog .home-blog-title .btn-explore {
    font-size: 20px;
    padding-left: 48px;
    padding-right: 41px;
    padding-top: 11px;
  }
  .home-blog-cards {
    padding-top: 40px;
    padding-left: 115px;
  }
  .home-blog-cards .card {
    width: 20rem;
  }
  .soc-con {
    display: flex;
    align-items: flex-end;
    padding-bottom: 65px;
    padding-left: 92px;
  }
  .poweredBy {
    padding-top: 20px;
    padding-right: 120px;
  }
  .footer .subscribe {
    padding-left: 20px;
    text-align: center;
  }
  .footer .subscribe-input input#subscribe-email {
    width: 525px;
    outline: none;
    height: 46px;
    border-radius: 5px;
    background: transparent;
    padding-left: 18px;
    font-size: 20px;
    margin-left: 30px;
  }
  .footer button#subscribe-btn {
    right: -126px;
    top: 121px;
    height: 40px;
  }
  .footer .footer-links {
    justify-content: center;
    padding-left: 60px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 473px;
  }
  .home-heading h1 {
    font-size: 53px;
    text-align: left;
    line-height: 50px;
  }
  .home-heading h1::after {
    content: "";
    background: rgba(52, 132, 204, 0.8);
    height: 15px;
    width: 160px;
    margin-left: auto;
    margin-right: 70px;
    margin-bottom: -46px;
    display: block;
    transform: translateY(-13px);
  }
  .home-heading .btn-explore {
    margin-left: 127px;
  }
  .home-services {
    padding: 70px 0px;
  }
  .home-services .home-services-text h2::before {
    margin-left: 95px;
  }
  .home-services .home-services-text p {
    text-align: left;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 0px;
  }
  .home-services .row {
    padding-left: 95px;
  }
  .home-projects-text h2::before {
    margin-left: 141px;
    margin-right: auto;
    margin-bottom: -36px;
    transform: translateY(16px);
  }
  .project-images .content {
    position: absolute;
    bottom: 29px;
    right: 13px;
    top: 145px;
    left: 13px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.592) 45.2%,
      rgba(0, 0, 0, 0) 91.35%
    );
    border-radius: 0px 0px 16px 16px;
    color: white;
    padding-left: 58px;
    padding-right: 93px;
  }
  .project-images .content p,
  h4 {
    text-align: left;
  }
  .project-images .content img {
    width: 81px;
    height: 103px;
    position: absolute;
    top: -39px;
    right: 105px;
  }
  .home-testimonials h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #dfe8f8;
    margin-bottom: 50px;
    text-align: start;
  }
  .home-testimonials h2::before {
    margin-left: 122px;
    width: 207px;
    /* margin-left: 132px; */
    margin-right: auto;
    transform: translateY(15px);
  }
  .home-testimonials p {
    text-align: left;
  }
  .home-testimonials h4,
  h6 {
    text-align: center;
  }
  .home-testimonials img {
    margin-left: 118px;
    border-radius: 1000px;
    margin-top: 5px;
  }
  .home-teamwork h2 {
    text-align: left;
  }
  .home-teamwork p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #dfe8f8;
    margin-top: 40px;
    padding-left: 0px;
    text-align: left;
  }
  .home-teamwork .box {
    padding-left: 0px;
  }

  .home-teamwork .dropdown a span {
    padding-left: 0px;
    padding-right: 170px;
  }
  .dropdown a {
    font-size: 22px;
  }
  .home-teamwork h2::before {
    margin-right: 42px;
  }
  .home-teamwork .btn-explore1 {
    margin-left: 118px;
  }
  .home-companies .home-companies-title h2::before {
    height: 15px;
    width: 255px;
    margin-right: 75px;
    margin-bottom: -36px;
    transform: translateY(117px);
  }
  .home-companies-list {
    padding: 55px 16px;
    align-items: center;
  }
  .home-companies-list-item {
    padding-right: 15px;
  }
  .home-blog .home-blog-title {
    display: grid;
    padding-left: 70px;
    left: 45px;
  }
  .home-blog .home-blog-title h2 {
    padding-bottom: 43px;
    margin-bottom: 6px;
    padding-right: 45px;
    padding-left: 33px;
  }
  .home-blog .home-blog-title .btn-explore {
    font-size: 16px;
    padding-left: 13px;
    padding-right: 9px;
    padding-top: 9px;
    margin-top: -14px;
  }
  .home-blog-cards {
    padding-top: 40px;
    padding-left: 60px;
  }
  .footer .subscribe-input input#subscribe-email {
    width: 356px;
    padding-left: 18px;
    font-size: 20px;
    margin-left: 48px;
  }
  .footer button#subscribe-btn {
    right: -144px;
    top: 121px;
    height: 40px;
  }
  .soc-con {
    display: flex;
    align-items: flex-end;
    padding-bottom: 65px;
    padding-left: 62px;
  }
}

@media (max-width: 440px) {
  .container {
    max-width: 313px;
  }
  .home-heading h1 {
    font-size: 40px;
    text-align: left;
    line-height: 42px;
  }
  .home-heading h1::after {
    height: 15px;
    width: 119px;
    margin-left: auto;
    margin-right: 3px;
    transform: translateY(-13px);
  }
  .home-heading .btn-explore {
    margin-left: 50px;
  }
  .home-services .home-services-text h2 {
    font-size: 40px;
    text-align: left;
  }
  .home-services .home-services-text h2::before {
    margin-left: 70px;
    height: 12px;
    width: 139px;
    transform: translateY(4px);
  }
  .home-services .home-services-text p br {
    display: none;
  }
  .home-services .home-services-text p {
    padding-left: 10px;
  }
  .home-services .card {
    margin-bottom: 50px;
    margin-left: -10px;
  }
  .home-services .row {
    padding-left: 0px;
    margin-top: -30px;
  }
  .home-projects-text h2 {
    font-size: 40px;
    text-align: left;
  }
  .home-projects-text h2::before {
    margin-left: 105px;
    margin-right: auto;
    margin-bottom: -36px;
    transform: translateY(13px);
    width: 136px;
  }
  .home-projects-text p br {
    display: none;
  }
  .home-projects-text p {
    text-align: left;
  }
  .project-images .content h4 {
    font-size: 18px;
    text-align: left;
  }
  .project-images .content p {
    font-size: 12px;
    text-align: left;
  }
  .project-images .content {
    position: absolute;
    bottom: 29px;
    right: 13px;
    top: 55px;
    left: 13px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.592) 45.2%,
      rgba(0, 0, 0, 0) 91.35%
    );
    border-radius: 0px 0px 12px 12px;
    color: white;
    padding-left: 19px;
    padding-right: 40px;
  }
  .project-images .content img {
    width: 50px;
    height: 78px;
    position: absolute;
    top: -17px;
    right: 57px;
  }
  .home-testimonials h2 {
    font-size: 40px;
    text-align: left;
    line-height: 36px;
  }
  .home-testimonials h2::before {
    margin-left: -1px;
    width: 167px;
    height: 12px;
    transform: translateY(39px);
  }
  .home-testimonials p {
    text-align: left;
    font-size: 15px;
    line-height: 22px;
  }
  .home-testimonials img {
    margin-left: 35px;
    border-radius: 1000px;
    margin-top: 5px;
  }
  .home-teamwork h2 {
    font-size: 40px;
    line-height: 35px;
  }
  .home-teamwork h2::before {
    margin-right: 141px;
    transform: translateY(33px);
    height: 11px;
    width: 147px;
  }
  .home-teamwork p {
    text-align: left;
    font-size: 15px;
    padding-right: 43px;
  }

  .home-teamwork .box {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-teamwork .box .list-group .list-group-item {
    background: transparent;
    width: 539px;
    height: 92px;
    border: 0;
    padding-left: 0px;
  }

  .home-teamwork .dropdown a span {
    padding-left: 0px;
    padding-right: 80px;
  }
  .dropdown a {
    font-size: 16px;
  }
  .home-teamwork .btn-explore1 {
    margin-left: 27px;
  }
  .home-companies .home-companies-title h2 {
    text-align: left;
    font-size: 40px;
    line-height: 35px;
  }
  .home-companies .home-companies-title h2::before {
    height: 15px;
    width: 187px;
    margin-right: 75px;
    margin-bottom: -36px;
    transform: translateY(111px);
  }
  .home-companies-list {
    padding: 42px 0px;
    align-items: center;
  }
  .home-companies-list-item {
    padding-right: 15px;
  }
  .home-blog .home-blog-title {
    display: grid;
    padding-left: 0px;
    left: 39px;
  }
  .home-blog .home-blog-title h2 {
    padding-bottom: 45px;
    margin-bottom: -19px;
    padding-right: 34px;
    padding-left: 0px;
    text-align: left;
  }
  .home-blog .home-blog-title .btn-explore {
    font-size: 15px;
    padding-left: 25px;
    padding-top: 11px;
    margin-top: 15px;
    margin-left: -7px;
    line-height: 21px;
    padding-right: 23px;
  }
  .home-blog .home-blog-cards {
    padding-left: 0px;
  }
  .home-blog .home-blog-cards .card {
    width: 16rem;
  }
  .home-work .home-work-title h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .home-work-btn .btn-explore1 {
    padding: 11px 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .footer .subscribe-input input#subscribe-email {
    width: 260px;
    padding-left: 0px;
    font-size: 20px;
    margin-left: 0px;
  }
  .footer button#subscribe-btn {
    right: -144px;
  }
  .soc-con {
    padding-left: 0px;
  }
  .footer .socials a {
    padding-right: 1px;
  }
  .footer .copyright {
    margin-left: -60px;
    margin-bottom: -25px;
  }
  .footer .footer-links {
    justify-content: center;
    padding-left: 0px;
    text-align: center;
  }
  .poweredBy {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
  .home-heading h1::after {
    height: 15px;
    width: 119px;
    margin-left: auto;
    margin-right: 69px;
    transform: translateY(-11px);
  }
  .home-heading .btn-explore {
    margin-left: 35px;
  }
  .home-testimonials h2 {
    font-size: 38px;
  }
  .home-testimonials p {
    text-align: left;
    font-size: 16px;
    line-height: 21px;
  }
  .home-testimonials img {
    margin-left: 17px;
  }
  .home-teamwork p {
    text-align: left;
    font-size: 18px;
    padding-right: 43px;
    line-height: 22px;
  }
  .home-blog .home-blog-title {
    padding-left: 47px;
    left: -32px;
  }
  .home-blog .home-blog-cards {
    left: -30px;
  }
  .footer button#subscribe-btn {
    right: -176px;
  }
}
